<div class="container">
  <div class="columns">
    <div class="column col-12">
      <h4>Blog Admin</h4>
      <div>
        <form action="/blog-admin" method="POST">
          <div>
            <label class="form-label" for="input-example-1">Write blogpost:</label>
            <input
              type="text"
              placeholder="Blogtitle"
              name="blogtitle"
              value="{{blogtitle}}"
            />
            <input
              type="text"
              placeholder="Blogpost"
              name="blogpost"
              value="{{blogpost}}"
            />
          </div>
          <div>
            <input
              class="btn btn-primary"
              type="submit"
              value="Send off to blog!"
            />
          </div>
        </form>
      </div>
      {{#if errorMessages.length}}
        <p>Couldn't submit because:</p>
        <ul>
          {{#each errorMessages}}
            <li>{{this}}</li>
          {{/each}}
        </ul>
      {{else}}
        {{#if blogs.length}}
          <div class="column col-8">
            <ul class="list">
              {{#each blogs}}
                <strong>{{blogtitle}}</strong>
                <div class="blogbuttons">
                  <form action="/delete-blogtitle/{{id}}" method="POST">
                    <button class="btn btn-secondary btn-sm">Delete</button>
                  </form>
                  <div>
                    <a href="/blogpost-update/{{id}}">
                      <button class="btn btn-secondary btn-sm">Edit</button>
                    </a>
                  </div>
                  <div class="divider"></div>
                </div>
              {{/each}}
            </ul>
          </div>
        {{else}}
          <p>There are no blogposts right now</p>
        {{/if}}
      {{/if}}
    </div>
  </div>
</div>