<div class="container">
  <div class="columns">
    <div class="column col-12">
      <h4>Edit FAQs</h4>
    </div>
    <div class="column col-12">
      {{#if errorMessages.length}}
        <p>Couldn't submit because:</p>
        <ul>
          {{#each errorMessages}}
            <li>{{this}}</li>
          {{/each}}
        </ul>
        <dl>
          {{#each answers}}
            <dt>{{approvedQuestion}}</dt>
            <dd>{{answer}}</dd>
          {{/each}}
        </dl>
      {{/if}}
    </div>
    <div class="column col-8">
      <div>
        <form method="POST">
          <label class="form-label" for="input-example-1">Edit faq:</label>
          <input
            type="text"
            placeholder="Question"
            name="approvedQuestion"
            value="{{approvedQuestion}}"
          />
          <input
            type="text"
            placeholder="Answer"
            name="answer"
            value="{{answer}}"
          />
          <div>
            <input class="btn btn-primary" type="submit" value="Update" />
          </div>
        </form>
      </div>
    </div>
  </div>
</div>